#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.1
Type=Application
Name=Thinkfan
Icon=/opt/fancontrol/Resources/icon.png
Exec=konsole --noclose -e python3 /opt/fancontrol/src/fan.py
Categories=System;System-Tools;

