#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.1
Type=Application
Name=Thinkfan Control
Comment=A fan controller for Thinkpads
Icon=/opt/fancontrol/Resources/icon.png
Exec=/opt/fancontrol/fan-pkexec
Categories=System;System-Tools;

